In [2]:
from rekon import rekon
import pandas as pd
import xlrd

In [3]:
# lets get sample data from excel file
excel_file = '/Users/rjdscott/Desktop/rekon-sample-data.xlsx'

# import the row and col mappings
col_map = pd.read_excel(excel_file,sheet_name='column_mapping', index_col=None)
row_map = pd.read_excel(excel_file,sheet_name='row_mapping', index_col=None)

# pull out required data from sheets based on col_map
sys1_df = pd.read_excel(excel_file, sheet_name='system1', index_col=None, usecols=col_map.iloc[:, 0])
sys2_df = pd.read_excel(excel_file, sheet_name='system2', index_col=None, usecols=col_map.iloc[:, 1])

In [4]:
sys1_df = sys1_df.applymap(lambda x: x.strip() if type(x) is str else x)
sys2_df = sys2_df.applymap(lambda x: x.strip() if type(x) is str else x)
col_map = col_map.applymap(lambda x: x.strip() if type(x) is str else x)
row_map = row_map.applymap(lambda x: x.strip() if type(x) is str else x)

In [5]:
print(sys1_df.head())
print(sys2_df.head())

    Ticker  TotalUnitHolding  MarketPrice  TotalValueBase
0  BABA US                 5       178.19         1212.92
1      ANZ                12        28.78          345.36
2      BHP                20        33.38          667.60
3      BLD                36         6.42          231.12
4  BRBY LN                32      2325.00         1304.62
  SecurityCode  PriceMultiplier  PositionVolume     Cost
0      ANZ.ASX             0.01              12   351.14
1     BABA.NYS             1.00               5  1291.56
2      BHP.ASX             0.01              20   682.64
3      BLD.ASX             0.01              36   233.82
4     BRBY.LSE             0.01              32  1284.46

In [117]:
row_map

    system1   system2
0   BABA US  BABA.NYS
1       ANZ   ANZ.ASX
2       BHP   BHP.ASX
3       BLD   BLD.ASX
4   BRBY LN  BRBY.LSE
5       CBA   CBA.ASX
6       IVV   IVV.AXW
7       LKE   LKE.ASX
8       LLC   LLC.ASX
9       NAB   NAB.ASX
10      TLS   TLS.ASX
11      VG1   VG1.ASX
12      WBC   WBC.ASX

In [118]:
col_map

            system1         system2
0            Ticker    SecurityCode
1       MarketPrice     MarketPrice
2  TotalUnitHolding  PositionVolume
3    TotalValueBase     MarketValue

In [119]:
rec2 = rekon.Reconciliation(sys1_df=sys1_df, 
                           sys2_df=sys2_df,
                           column_mapping=col_map,
                           row_mappings=row_map,
                           system_labels=col_map.columns)

In [153]:
rec_db_output = '/Users/rjdscott/Desktop/rekon-rec-data2.sqlite3'
rec2.reconcile(rec_column=1,sqlite_db=rec_db_output)
df = rec2.rec_result
output_df = df.style.bar(subset=['s1s2_value1_diff'],align='mid', color=['#d65f5f', '#5fba7d'])
output_df

Normalising tables...
Normalised tables inserted to database...
Mappings added to database..

In [122]:
rec2.reconcile(rec_column=3,sqlite_db=":memory:")

Normalising tables...
Normalised tables inserted to database...
Mappings added to database..

     s1_key    s2_key  s1_value3  s2_value3  s1s2_value3_diff
0   BABA US  BABA.NYS    1212.92    1220.98             -8.06
1       ANZ   ANZ.ASX     345.36     353.16             -7.80
2       BHP   BHP.ASX     667.60     676.20             -8.60
3       BLD   BLD.ASX     231.12     254.52            -23.40
4   BRBY LN  BRBY.LSE    1304.62    1317.53            -12.91
5       CBA   CBA.ASX     143.46     146.46             -3.00
6       IVV   IVV.AXW     797.00     800.42             -3.42
7       LKE   LKE.ASX     890.00     890.00              0.00
8       NAB   NAB.ASX     307.78     313.28             -5.50
9       TLS   TLS.ASX     241.68     238.64              3.04
10      VG1   VG1.ASX     306.00     310.80             -4.80
11      WBC   WBC.ASX     224.88     231.04             -6.16
12      LLC   LLC.ASX     284.48     285.04             -0.56

In [152]:
rec2.reconcile
df = rec2.rec_result
check_df = df.style.bar(subset=['s1s2_value3_diff'],align='mid', color=['#d65f5f', '#5fba7d'])
check_df

KeyError: "None of [['s1s2_value3_diff']] are in the [columns]"

In [132]:
dict_map = {
    'label1':'labA',
    'label2':'labB',
    'label3':'labC',
}

In [149]:
col = list(dict_map.values())[1]

In [151]:
col

'labB'